html body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Courier New", Courier, monospace;
  cursor: url('/src/assets/cursor/cat_pixel_cursor.png'), auto;
}